service bluetoothtbd /system/bin/bluetoothtbd --enable-on-start=true
#    onrestart restart bt-vvnx

#service bt-vvnx /system/bin/bt-vvnx

#on property:bluetooth.status=on
#    start bluetoothtbd
#    start bt-vvnx



